<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        h1 {
          text-align: center;
        }
    </style>
</head>

{% extends "public/templates/public_template.html" %}

{% block title %} Upload video {% endblock %}

{% block main %}

<div class="container">
    <h1>M(L)OVE</h1>
    <div class="row">
        <div class="col">

            <h2>Upload video</h2>
            <hr>
            

            <form action = "/upload-video" method="POST" enctype="multipart/form-data">
            
                <div class="form-group">
                    <label>Select video 1</label>
                    <div class="custom-file">
                        <input type = "file" class="custom-file-input" name="video" id="image">
                        <label class = "custom-file-label" for="image">Select video1...</label>
                    </div>
                    <label>Select video 2</label>
                    <div class="custom-file">
                        <input type = "file" class="custom-file-input" name="video2" id="image2">
                        <label class = "custom-file-label" for="image2">Select video2...</label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Upload</button>
                
                
                <h1>
                    {% for statee in statte%}
                            <div hx-get="/" hx-trigger="every 1s">{{ statee }}</td>
                    {% endfor %}
                </h1>
                

            </form>

        </div>
    </div>
</div>

{% endblock %}