<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

{% extends "public/templates/public_template.html" %}

{% block title %} Upload video {% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col">

            <h1>Upload video</h1>
            <hr>
            
            <video width="320" height="240" controls autoplay>
                <source src="out1.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>

            <video width="320" height="240" controls autoplay>
                <source src="out2.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>

            

        </div>
    </div>
</div>

{% endblock %}