<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

{% extends "public/templates/public_template.html" %}

{% block title %} View result {% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col">

            <h1>View result</h1>
            <hr>
            
            <video width=480 height= controls autoplay>
                <source src={{ url_for('static', filename="out1.mp4") }} type="video/mp4">
                Your browser does not support the video tag.
            </video>

            <video width=480 height= controls autoplay>
                <source src={{ url_for('static', filename="out2.mp4") }} type="video/mp4">
                Your browser does not support the video tag.
            </video>

            <!-- <form action = "/upload-video" method="POST" enctype="multipart/form-data">
            
                    <label>Select video 1</label>
                    <div class="custom-file">
                        <input type = "file" class="custom-file-input" name="video" id="image">
                        <label class = "custom-file-label" for="image">Select video1...</label>
                    </div>
                    <label>Select video 2</label>
                    <div class="custom-file">
                        <input type = "file" class="custom-file-input" name="video2" id="image2">
                        <label class = "custom-file-label" for="image2">Select video2...</label>
                    </div>


                <button type="submit" class="btn btn-primary">Upload</button>
                
                
                <h1>
                    {% for statee in statte%}
                            <div hx-get="/" hx-trigger="every 1s">{{ statee }}</td>
                    {% endfor %}
                </h1>
                

            </form> -->

        </div>
    </div>
</div>
<div style="display:table-cell; vertical-align:middle; text-align:center">
    <img src="score.png" alt="score">
</div>

{% endblock %}