/* Bootstrap stylings */

body {
  padding-bottom: 40px;
  background-color: #ffffff;
}

.form-signin {
  max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}






/* Custom styles for all pages */

.content { padding-top: 7rem; }

.jumbotron {background-color: #f6f6f6;}




/* Custom styles for home page */

.form-signin { max-width:500px !important }

.normal-text { font-size:1.3rem !important }

.custom-button {height:30px  !important}

.navbar-wrapper {}

.navbar {
    position: fixed;
    right: .0rem;
    left: .0rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}

.widebutton {
    background-color: #fff;
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 100%;
}

.inputpage {
    max-width: 800px;
}

.banner {
    max-width: 1140px;
}

.banner_j {background-color: #e6e6e6; padding:5px; !important}



/* Custom styles for output page */

.cardc {
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}
.card > img {
  margin-bottom: .75rem;
}
.cardc img {height:200px; width:200px; margin-bottom:0rem; !important}

* {
    box-sizing: border-box
}

.content-output {padding-top: 0.6rem;}

.scorebox {
    width:7rem;
    height:7rem;
    font-size: 1.8rem;
    display:inline-block;
    padding: .75rem;
    top: 50%;
    left: 50%;
    margin: 0 0 0 0;
}

.scorebox_top {
    width:10rem;
    height:10rem;
    font-size: 2.8rem;
    display:inline-block;
    padding: 1.5rem;
    top: 50%;
    left: 50%;
    margin: 0 0 0 0;
}